@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}

#body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
 
.cont-principal{
    display: flex;
    width: 100vw;
}

.cont-principal h3{
    font-weight: 600;
}

/*nav-var*/
.header-lateral-bar{
    display: flex;
    justify-content: center;
    background-color: rgb(245, 236, 224);
    border-right: 1px solid #000;
    width: 25vw;
    height: 100vh;
}

.nav-bar{
    padding: 15px;
}

.nav-bar h3{
    padding: 10px;
    text-align: center;
}

.ul-list{
    list-style: none;
    text-align: center;
}

.ul-list li{
    padding: 10px 5px 0 5px;
}

.nav-link{
    text-decoration: none;
}

/*main, section*/
.main-cont{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    background-color:rgb(248, 241, 241);
    list-style: none;
    overflow-y: scroll;
}
 
.main-section{
    padding: 30px 0 0 30px;
}


.main-section h3{
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    font-weight: 500;
}

.main-section p{
    padding: 10px;
}

.main-section ul{
    padding-left: 40px;
}  

.main-section li{
    padding: 6px 0;
}
 
.link-refer{
    text-decoration: none;
    color:rgba(67, 3, 241, 0.7);
} 

.span{
    font-weight: 600;
}

.main-section pre{
    background-color: rgb(215, 233, 227);
    border-radius: 5px;
    padding-top: 10px;
} 

.code{
    text-align: left;
}

/*@media */
@media(max-width: 600px){

    .cont-principal{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
    }

    .header-lateral-bar{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        max-height: 450px;
        border: 1px solid rgba(0, 0, 0, .3);
        background-color: rgb(218, 236, 225);
        position: fixed;
    }
 
    .nav-bar{
        padding: 10px;
    }

    .main-cont{
        width: 100vw;
        overflow-y: scroll;
        margin-top: 450px;
        padding: 0;
    }
}

@media (max-width: 420px){
    .cont-principal{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .ul-list{
        font-size: 1.3rem;
    }

    .main-cont{
        background-color: rgb(22, 224, 224);
        width: 100vw;
        overflow-y: scroll;
    }

    .main-section{
        padding: 18px 0 0 0;
        text-align: center;
        max-width: 380px;
        /*margin-left: -40px;*/
    }

    .header-lateral-bar{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100vw;
        max-height: 450px;
        padding: 4px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        background-color: rgb(201, 201, 201);
    }
}


